<%= link_to 'Ale y Jarri', nil, :id => 'titulo' %>

<div id="barra">
  <%= link_to 'Fecha', nil, 'data-titulo' => 'fecha' %>
  <%= link_to 'Hora', nil, 'data-titulo' => 'hora' %>
  <%= link_to 'Iglesia', nil, 'data-titulo' => 'iglesia' %>
  <%= link_to 'Fiesta', nil, 'data-titulo' => 'fiesta' %>
  <%= link_to 'Regalo', nil, 'data-titulo' => 'regalo' %>
  <%= link_to 'Vestimenta', nil, 'data-titulo' => 'vestimenta' %>
  <%= link_to 'Alojamiento', nil, 'data-titulo' => 'alojamiento' %>
  <%= link_to 'Contacto', nil, 'data-titulo' => 'contacto' %>
  <%= link_to 'Mapa', nil, 'data-titulo' => 'mapa' %>
  <%= link_to 'Confirma con', nil, 'data-titulo' => 'confirma' %>
</div>

<div id="contenido">
  <div id="contenedor_texto">
    <div data-titulo="fecha" class="texto">21 de enero de 2012</div>
    <div data-titulo="hora" class="texto">Iglesia: 16:00 hrs. / Fiesta: 19:00 hrs.</div>
    <div data-titulo="iglesia" class="texto">Parroquia Jesús Obrero. Av. Alberto Hurtado 1090 (ex. Av. General Velásquez) Estación Central</div>
    <div data-titulo="fiesta" class="texto">Camino al Volcán 6673 Localidad El Canelo, San José de Maipo</div>
    <div data-titulo="vestimenta" class="texto">Vengan bien cómodos, bonitos y olorositos</div>
    <div data-titulo="alojamiento" class="texto">Sólo si trae carpa</div>
    <div data-titulo="contacto" class="texto">aleyjarri@gmail.com</div>
    <div data-titulo="confirma" class="texto">Confirmar asistencia con<br>José Elgueta al 09-9676345</div>
  </div>
  <div id="mapa" class="grande">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=http:%2F%2Faleyjarri.cl%2Fdireccion.kmz&amp;t=m&amp;vpsrc=6&amp;ie=UTF8&amp;ll=-33.549588,-70.500172&amp;spn=0.077228,0.092525&amp;z=13&amp;output=embed"></iframe>
  </div>
  <div id="regalo" class="grande">
    <table>
      <tr>
        <th>Regalo</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>

      <% @regalos.each do |regalo| %>
      <tr>
        <td><%= regalo.detalle %></td>
        <td><%= regalo.cantidad %></td>
        <td style="text-align:right">$<%= number_with_delimiter regalo.precio_pesos_chilenos, :delimiter => '.' %></td>
        <td>
          <%= link_to "#{regalo.reservado? ? (regalo.reservado_por_id == session[:usuario_id] ? 'Reservado' : 'No disponible') : 'Reservar'}", regalo, :class => "reservar #{'reservado' if regalo.reservado?} #{'por-ti' if regalo.reservado_por_id == session[:usuario_id]}"  %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>